doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet' href=`/public/stylesheets/${fileName}.css` type="text/css")
    link(rel='stylesheet' href=`/public/stylesheets/normalize.css` type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sintony:wght@400;700&display=swap" rel="stylesheet")
    link(rel='icon' href="/public/images/favicon.ico" type="image/x-icon")
    script(async defer src=`/public/js/${fileName}.js` type='module')
    script(async defer src="https://kit.fontawesome.com/5f803584f1.js" crossorigin="anonymous")
    title= title

  body
    include utils
    block content
