mixin input(inputName, inputType, inputPlaceholder, required, inputValue)
  if (required === true)
    input(name=inputName, type=inputType, placeholder=inputPlaceholder, required, value=inputValue)
  else
    input(name=inputName, type=inputType, placeholder=inputPlaceholder, value=inputValue)
